# Supabase
export SUPABASE_API_URL="https://gtnosocsxdiowvqztjss.supabase.co"
export SUPABASE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd0bm9zb2NzeGRpb3d2cXp0anNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODI0NTg5ODYsImV4cCI6MTk5ODAzNDk4Nn0.w_TXCr9t2ZRG6TSUMN3atbiBHzOoZUpVwakvii_9J7U"

# For example, the result of: openssl rand -base64 14
export JWT_SECRET="aM4gBTXynqD/kkf3I50="